.element__likeButton {
    background-image: url(../../../images/heart.svg);
    width: 22px;
    height: 19px;
    background-color: transparent;
    background-position:center;
    background-repeat:no-repeat;
    border: unset;
    cursor: pointer;
    align-self: center;
    padding-left: 30px;
}

.element__likeButton:hover {
    background-image: url(../../../images/heart_hover.svg);
}

.element__likeButton:active {
    background-image: url(../../../images/heart_active.svg);
}