.element__title {
    margin: 0;
    padding: 0;
    display: block;
    width: 200px;
    margin-left: 21px;
    grid-area: title;
    align-self: center;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media screen and (max-width:350px) {
    .element__title{
    width:190px  
    }
}