.popup__saveButton {
    margin-top: 48px;
    background-position: center;
    background-repeat: no-repeat;
    border: unset;
    cursor: pointer;
    align-self: center;
    width: 100%;
    height: 50px;
    color: #fff;
    background-color: #000;
}