.element {
    margin: 0;
    padding: 0;
    width: 100%;
    display: grid;
    grid-template-rows: 282px 1fr;
    grid-template-areas:
        "image image"
        "title like";
    background-color: #fff;
    border-radius: 10px;
    align-content: space-between;
    position: relative;
}

@media screen and (max-width:630px) {
    .element {
        width: 282px;
    }
}