.element__like-button {
    grid-area: like;
    margin: 0 20px 0;
    padding: 0;
    background-image: url(../../../images/heart.svg);
    width: 22px;
    height: 19px;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border: unset;
    cursor: pointer;
    justify-self: end;
    align-self: center;
}

.element__like-button:hover {
    opacity: 0.6;
}