.profile__info {
    max-width: 100%;
    display: grid;
    grid-template-areas: 
    "name button"
    "details .";
    justify-content: start;
    column-gap: 18px;
}

@media screen and (max-width: 1070px) {
    .profile__info{
        justify-content: center;
        column-gap: 10px;
        row-gap: 14px;
    }
}
