.profile__info {
    margin: 0;
    padding: 0;
    max-width: 100%;
    display: grid;
    grid-template-areas: 
    "name button"
    "details .";
    justify-content: start;
    column-gap: 18px;
}

@media screen and (max-width: 1070px) {
    .profile__info{
        margin: auto;
        grid-template-areas:
        "name button"
        "details details";
        column-gap: 10px;
    }
}

@media screen and (max-width: 320px) {
    .profile__info{
    margin-left: 45px;
    }
}