.profile__info {
    margin: 0;
    padding: 0;
    max-width: 100%;
    display: grid;
    grid-template-areas: 
    "name button"
    "details .";
    justify-content: start;
    column-gap: 18px;
}

@media screen and (max-width: 1070px) {
    .profile__info{
        grid-template-columns: 64px minmax(150px, 1fr) 68px;
        grid-template-rows: auto auto;
        grid-template-areas: 
        ". name button"
        ". details .";
        gap:8px 10px;
        align-items: center;
    }
}

@media screen and (max-width: 425px) {
    .profile__info{
        grid-template-columns: 34px 1fr 38px;
    }
}