.element {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 361px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "image image"
        "title like";
    background-color: #fff;
    border-radius: 10px;
}