.header {
    margin: 45px 200px 36px;
    padding: 0;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (max-width:1024px) {
    .header {
        margin: 28px 19px 38px;
    }
}

@media screen and (max-width:475px) {
    .header {
        margin: 28px 0 38px;
    }
}